.moodForm{
    display:flex;
    flex-direction: column;
}
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Seleccion{
    margin: 2%;
    display: flex;
    flex-direction: column;
}
.opciones{
    margin: 2%;
}
.descripcion{
    margin: 2%;
}
.Actividades{
    margin: 2%;
    display: flex;
    flex-direction: column;
}
.boton{
    margin: 2%;
    width: fit-content;
    height:fit-content;
}